* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 50px;
  background-color: #212121;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_item {
  border-right: 2px dotted #ffffff;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
  padding-right: 0;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu_link:hover {
  color: #1eacc7;
  text-decoration: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 16px 0 17px 0;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
}

.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
}

.subheader_call {
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}

.btn {
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#188A9F), to(#3DB5CC));
  background-image: linear-gradient(to top, #188A9F 0%, #3DB5CC 100%);
}

.promo {
  min-height: 800px;
  background: url("../img/bg/promo_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0;
}

.promo_subheader {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 22px;
}

.promo_desc {
  margin-top: 23px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 118px;
  width: 259px;
  height: 63px;
  font-size: 18px;
  line-height: 18px;
}

.label {
  margin: 0 auto;
  padding: 8px 12px;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.label_white {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  color: #070716;
}

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.subtitle_white {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

h2.title {
  margin: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h2.title_white {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.reasons {
  min-height: 900px;
  padding: 71px 0 65px 0;
}

.reasons_item {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons_text {
  width: 343px;
}

.reasons_text h3.reasons_subtitle {
  margin: 0;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}

.reasons_text p.reasons_desc {
  margin: 0;
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
  padding: 48px 0 80px 0;
}

.mobile_item {
  margin: 0 auto;
  margin-top: 32px;
  width: 320px;
  height: 280px;
  position: relative;
}

.mobile_item_1 {
  background: url("../img/mobile/mobile_1.png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/mobile/mobile_2.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/mobile/mobile_3.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/mobile/mobile_4.png") center center/cover no-repeat;
  margin-top: 19px;
}

.mobile_item_5 {
  background: url("../img/mobile/mobile_5.png") center center/cover no-repeat;
  margin-top: 19px;
}

.mobile_item_6 {
  background: url("../img/mobile/mobile_6.png") center center/cover no-repeat;
  margin-top: 19px;
}

.mobile_item_subtitle {
  padding-top: 92px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 100%;
  bottom: 41px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.mobile_item_plus:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile_item_plus:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  background-color: #ff5656;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.choice {
  position: relative;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
  min-height: 896px;
  padding: 57px 0 138px 0;
}

.choice .darkblue {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 499px;
  background-color: #070716;
  z-index: 1;
}

.choice_desc {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.choice_img {
  display: block;
  position: relative;
  margin: 56px auto 4px auto;
  z-index: 2;
}

.require {
  min-height: 919px;
  padding: 68px 0 84px 0;
}

.require_item_btn {
  margin-bottom: 0;
}

.require_item {
  margin: 33px 0;
}

.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

.require_title span.uppercase {
  text-transform: uppercase;
}

.require_list {
  margin: 0;
  margin: 20px 0;
  list-style-type: none;
  padding-left: 45px;
}

.require_list li {
  position: relative;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  background: url("../icons/check/blue.svg") center center/cover no-repeat;
  width: 21px;
  height: 20px;
  left: -32px;
  top: 4px;
}

.require_desc {
  color: #1ca8c3;
  font-weight: 300;
}

.require .warning .require_title {
  color: #ff5656;
}

.require .warning .require_list li:before {
  background: url("../icons/check/red.svg") center center/cover no-repeat;
}

.world {
  min-height: 717px;
  background: url("../img/bg/world_bg.jpg") center center/cover no-repeat;
  padding: 49px 0;
}

.world_link {
  display: block;
  color: #1fbad6;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  margin-top: 468px;
  text-align: center;
}

.world_link:hover {
  color: #ffffff;
  text-decoration: none;
}

.world .label_white {
  width: 76px;
}

.line {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

footer {
  min-height: 156px;
  padding-top: 14px;
}

footer a:hover {
  text-decoration: none;
}

.footer_wrapper {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_block {
  width: 33%;
}

.footer_block_social {
  margin-left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer_block_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_block_mobile {
  margin-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 153px;
  height: 32px;
}

.footer_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #070716;
}

.footer_social_item span {
  color: #ffffff;
}

.footer_links {
  width: 390px;
  padding: 0 10px;
}

.footer_links_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  text-transform: uppercase;
}

.footer_links_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  line-height: 11px;
  text-transform: uppercase;
}

.footer_links_lang {
  display: block;
  margin-top: 17px;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  text-transform: uppercase;
  text-align: center;
}

.footer_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_mobile a {
  margin: 0 3px;
}

.footer_mobile a img {
  width: 100%;
}

.footer_line {
  margin-top: 31px;
  width: 100%;
  height: 8px;
  background-color: #070716;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu {
    padding: 15px 70px;
  }
  .menu_item {
    padding-right: 19px;
    line-height: 1.2;
  }
  .menu_link {
    font-size: 13px;
  }
  .btn {
    display: block;
    font-size: 14px;
    line-height: 14px;
  }
  .promo_header {
    font-size: 50px;
  }
  .promo_btn {
    width: 259px;
    font-size: 18px;
    line-height: 18px;
  }
  .reasons_item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reasons_text {
    width: 300px;
  }
  .mobile_item {
    width: 290px;
  }
  .mobile_item_subtitle {
    font-size: 22px;
  }
  .choice {
    padding: 55px 0;
    min-height: 840px;
  }
  .require {
    padding: 55px 0;
    min-height: 880px;
  }
  .footer_block_social {
    width: 25%;
  }
  .footer_block_social a {
    width: 28px;
    height: 28px;
  }
  .footer_block_links {
    width: 50%;
  }
  .footer_block_mobile {
    width: 25%;
  }
}

@media (max-width: 991px) {
  .menu {
    padding: 16px 70px;
  }
  .menu_item {
    padding-right: 5px;
    line-height: 1.1;
  }
  .menu_link {
    font-size: 11px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .btn {
    font-size: 14px;
    line-height: 14px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .promo_btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 16px;
  }
  .reasons_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons_round {
    margin-right: 0;
  }
  .reasons_text {
    margin-top: 21px;
  }
  h2.title {
    font-size: 32px;
  }
  .choice {
    min-height: 800px;
  }
  .choice_img {
    width: 100%;
  }
  .footer_wrapper {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_block {
    margin-top: 20px;
    width: auto;
  }
  .footer_block_social {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer_block_social a {
    width: 32px;
    height: 32px;
  }
  .footer_blocklinks {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer_block_mobile {
    margin-right: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 767px) {
  .menu {
    padding: 20px 15px;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    border: none;
    padding-right: 0;
    margin: 5px 0;
  }
  .menu_item a {
    display: block;
    padding: 8px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    background-color: #fff;
    margin-top: 2px;
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  .hamburger_active span {
    margin-top: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader {
    padding: 0;
  }
  .subheader_logo {
    margin-top: 20px;
  }
  .subheader_phone {
    margin-top: 10px;
    display: block;
    font-size: 16px;
    text-align: center;
  }
  .btn {
    width: 75%;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .promo_header {
    line-height: 45px;
  }
  .promo_btn {
    margin-top: 72px;
    width: 210px;
    height: 50px;
  }
  .reasons {
    padding: 40px 0;
  }
  .reasons_text {
    width: 70%;
  }
  .reasons_text p.reasons_desc {
    margin-top: 5px;
  }
  h2.title {
    font-size: 28px;
    line-height: 33px;
  }
  .mobile {
    padding: 40px 0;
  }
  h2.title_white {
    font-size: 28px;
    line-height: 33px;
  }
  .choice {
    padding: 40px 0;
    min-height: 660px;
  }
  .require {
    padding: 40px 0;
  }
  .require_title {
    text-align: center;
  }
  .world {
    padding: 40px 0;
    min-height: 695px;
  }
}

@media (max-width: 575px) {
  .menu {
    width: 85%;
  }
  .menu_item {
    margin: 2px 0;
  }
  .subheader {
    height: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_phone {
    margin-top: 11px;
    font-size: 12px;
    line-height: 12px;
  }
  .btn {
    margin-top: 7px;
    width: 110px;
    height: 22px;
    font-size: 10px;
    line-height: 10px;
  }
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  .promo_desc {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    line-height: 35px;
    padding: 0 24px;
  }
  .promo_subheader {
    padding: 0 10px;
    margin-top: 33px;
    font-size: 20px;
    line-height: 30px;
  }
  .promo_btn {
    margin-top: 72px;
    width: 210px;
    height: 50px;
  }
  .reasons {
    padding: 22px 0 36px 0;
  }
  .reasons_item {
    margin-top: 26px;
  }
  .reasons_round {
    width: 100px;
    height: 100px;
  }
  .reasons_text {
    margin-top: 27px;
    width: 100%;
  }
  h2.title {
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px;
  }
  .subtitle {
    margin-top: 11px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 21px;
  }
  .mobile {
    padding: 15px 0 43px 0;
  }
  .mobile_item {
    margin-top: 30px;
  }
  .mobile_item_subtitle {
    padding: 0 38px;
    padding-top: 81px;
    font-size: 18px;
  }
  .mobile_item_plus {
    bottom: 22px;
  }
  .choice {
    padding: 25px 0 33px 0;
    min-height: 390px;
    background: #070716;
  }
  .choice_img {
    margin-top: 35px;
    margin-bottom: 0;
  }
  .choice_desc {
    position: relative;
    margin-top: 23px;
    z-index: 2;
    color: #ffffff;
    font-size: 17px;
  }
  .choice .darkblue {
    display: none;
  }
  .choice .title {
    display: none;
  }
  .choice .subtitle {
    display: none;
  }
  .require {
    padding: 25px 0;
  }
  .require_item {
    margin: 16px 0;
  }
  .require_item span {
    font-size: 16px;
  }
  .require_title {
    font-size: 14px;
    text-align: left;
  }
  .require_list {
    margin: 14px 0;
  }
  .require_list li {
    font-size: 14px;
  }
  .require_desc {
    font-size: 14px;
  }
  .world {
    padding: 25px 0 30px 0;
    min-height: 360px;
  }
  .world_link {
    margin-top: 216px;
  }
  footer {
    padding: 25px 0 20px 0;
  }
  .footer_links {
    width: 290px;
    padding: 0;
  }
  .footer_links_main {
    margin-bottom: 6px;
  }
  .footer_links_main a {
    font-size: 14px;
  }
  .footer_links_sub {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 244px;
  }
  .footer_links_sub a {
    margin: 7px 0;
  }
  .footer_links_lang {
    margin-top: 6px;
  }
  .footer_line {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */